[flake8]
extend-exclude =
    .mypy_cache,
    .pytest_cache,
    .venv,
    .vscode,
    dist,
    site-packages
doctest = true
max-line-length = 130
extend-ignore =
    # E203: whitespace before ':' (Thanks black)
    E203
    # E266: too many leading '#' for block comment
    E266
    # E402: module level import not a top of file
    E402
    # E501: line too long (already have black for that)
    E501
    # E701: multiple statements on one line (colon) (Thanks black)
    E701
    # E731: do not assign a lambda expression, use a def
    E731
per-file-ignores =
    # F401: 'module' imported but unused
    # F403: 'from module import *' used; unable to detect undefined names
    # F405: 'name' may be undefined, or defined from star imports: 'module'
    # F841: local variable 'name' is assigned to but never used
    # DALL001: There is no __all__ defined
    src/easynetwork/__init__.py:F401,F403,F405
    src/easynetwork/*/__init__.py:F401,F403,F405
    tests/*.py:DALL001
    docs/*.py:DALL001
    docs/source/_include/*.py:F841,DALL001
    micro_benchmarks/*.py:DALL001
    benchmark_server/*.py:DALL001
    benchmark_server/*benchmark*:DALL001
