default_language_version:
  python: python3.11
minimum_pre_commit_version: '2.20.0'

ci:
  skip: [mypy]
  autoupdate_branch: 'pre-commit/autoupdate'
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: ['--py311-plus']
  - repo: https://github.com/PyCQA/isort
    rev: '5.13.2'
    hooks:
      - id: isort
        args: ['--filter-files', '--settings-file', 'pyproject.toml']
  - repo: https://github.com/psf/black
    rev: '24.4.1'
    hooks:
      - id: black
        args: ['--config', 'pyproject.toml']
  - repo: https://github.com/PyCQA/flake8
    rev: '7.0.0'
    hooks:
      - id: flake8
        args: ['--config', '.flake8']
        additional_dependencies: [
          'flake8-dunder-all @ git+https://github.com/francis-clairicia/flake8-dunder-all.git@v0.1.0'
        ]
  - repo: https://github.com/PyCQA/bandit
    rev: '1.7.8'
    hooks:
      - id: bandit
        args: ['-c', '.bandit.yml']
  - repo: https://github.com/aio-libs/sort-all
    rev: 'v1.2.0'
    hooks:
      - id: sort-all
        types: []  # Overwrite with empty in order to fallback to types_or
        types_or: [python, pyi]
  - repo: https://github.com/pdm-project/pdm
    rev: '2.15.1'
    hooks:
      - id: pdm-lock-check
      - id: pdm-export
        name: pdm-export benchmark-servers-deps
        args: ['--dev', '--group', 'benchmark-servers-deps', '--format', 'requirements', '--without-hashes', '--output', 'benchmark_server/servers/requirements.txt']
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 'v1.10.0'
    hooks:
      - id: python-check-blanket-noqa
      - id: python-no-log-warn
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.6.0'
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.bumpversion\.cfg  # Will always be triggered...
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
  - repo: local
    hooks:
      - id: mypy
        name: mypy (project)
        entry: tox run -q -e mypy-full
        language: system
        files: ^(src/)
        types_or: [python, pyi]
        require_serial: true
        pass_filenames: false
      - id: mypy
        name: mypy (tests)
        files: ^((src|tests)/)
        entry: tox run -q -e mypy-test
        language: system
        types_or: [python, pyi]
        require_serial: true
        pass_filenames: false
      - id: mypy
        name: mypy (docs)
        files: ^((src|docs/source)/)
        exclude: ^(docs/source/conf.py)$
        entry: tox run -q -e mypy-docs
        language: system
        types_or: [python, pyi]
        require_serial: true
        pass_filenames: false
      - id: mypy
        name: mypy (benchmark/servers)
        files: ^((src|benchmark_server)/)
        entry: tox run -q -e mypy-benchmark_server
        language: system
        types_or: [python, pyi]
        require_serial: true
        pass_filenames: false
      - id: mypy
        name: mypy (benchmark/micro-benchs)
        files: ^((src|micro_benchmarks)/)
        entry: tox run -q -e mypy-micro_benchmarks
        language: system
        types_or: [python, pyi]
        require_serial: true
        pass_filenames: false
