[build-system]
requires = ["hatchling >=1.13,<2"]
build-backend = "hatchling.build"

[project]
name = "easynetwork"
description = "The easiest way to use sockets in Python"
authors = [
    {name = "FrankySnow9", email = "clairicia.rcj.francis@gmail.com"}
]
dependencies = []
requires-python = ">=3.10"
readme = "README.md"
license-files = { paths = ["LICENSE"] }
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Typing :: Typed"
]
dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/francis-clairicia/EasyNetwork"

[project.optional-dependencies]
cbor = [
  "cbor2>=5.4,<6",
]
encryption = [
  "cryptography>=39,<40",
]
full = [
  "cbor2>=5.4,<6",
  "cryptography>=39,<40",
]

############################ pdm configuration ############################

[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=2.20.0",
    "bump2version>=1.0.1",
]
tox = [
    "tox<5,>=4.0.8",
]
format = [
    "isort!=5.11.0,>=5.10.1",
    "black>=22.6.0",
]
mypy = [
    "mypy==0.991",
]
flake8 = [
    "flake8>=6.0",
    "flake8-pyi>=22.11.0",
    "flake8-dunder-all @ git+https://github.com/francis-clairicia/flake8-dunder-all.git@main",
]
test = [
    "pytest~=7.2",
    "pytest-mock~=3.10.0",
    "pytest-cov<5,>=4.0",
    "coverage[toml]",
]

############################ hatchling configuration ############################

[tool.hatch.build]
exclude = [
  ".github/",
  ".vscode/",
  ".bumpversion.cfg",
]

[tool.hatch.build.targets.wheel]
sources = ["src"]

[tool.hatch.version]
path = "src/easynetwork/__init__.py"


############################ Development tools configuration ############################

[tool.isort]
profile = "black"
line_length = 130
combine_as_imports = true
sections = ["FUTURE", "STDLIB", "EASYNETWORK", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
known_easynetwork = ["easynetwork"]
add_imports = ["from __future__ import annotations"]
extend_skip = ["devtools"]

[tool.black]
line-length = 130
target-version = ["py310"]
force-exclude = "(devtools/)"

[tool.mypy]
mypy_path = "$MYPY_CONFIG_FILE_DIR/src"
python_version = "3.10"
show_error_codes = true
warn_unused_configs = true
disallow_any_generics = true
disallow_any_unimported = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
no_implicit_reexport = true
strict_equality = true
enable_error_code = ["truthy-bool", "ignore-without-code"]

[[tool.mypy.overrides]]
module = [
    "cbor2",
    "cryptography.*",
]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["tests.*"]
disable_error_code = ["override"]

[tool.pytest.ini_options]
addopts = "--strict-markers"
minversion = "7.1.2"
testpaths = ["tests"]
norecursedirs = ["scripts"]
markers = [
    "slow: marks tests as slow",
    "functional: marks tests as functional tests",
    "unit: marks tests as unit tests",
    "serializer: marks serializers tests",
    # Platform-specific tests
    "platform_win32: marks tests as runnable on win32 (Windows)",
    "platform_darwin: marks tests as runnable on darwin (macOS)",
    "platform_linux: marks tests as runnable on linux",
]

[tool.coverage.run]
branch = true
source_pkgs = [
    "easynetwork",
]
relative_files = true

[tool.coverage.paths]
source = [
    "src/",
    "*/.tox/*/lib/python*/site-packages",
]

[tool.coverage.report]
show_missing = true
precision = 2
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",

    # Don't complain about missing debug-only code:
    "def __repr__",

    # Don't complain if tests don't hit defensive assertion code:
    "raise AssertionError",
    "raise NotImplementedError",

    # Don't complain if non-runnable code isn't run:
    "if __name__ == .__main__.:",

    # Don't complain about type hinting code:
    "if (typing\\.)?TYPE_CHECKING:",
    "@(typing\\.)?overload",

    # Don't complain about abstract methods, they aren't run:
    "@(abc\\.)?abstractmethod",
]
