name: Prepare a draft release for a new version

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.*"

jobs:
  draft-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    name: Create a Draft release for ${{ github.ref_name }}
    steps:
      - name: Create Github Release
        uses: softprops/action-gh-release@v2.2.2
        with:
          name: easynetwork v${{ github.ref_name }}
          draft: true
          generate_release_notes: true
